body {
    background: #000;
}

/* Scaling up */
canvas {
    position: absolute;
    top: 112px;
    left: 128px;
    transform: scale(2);
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}